<v-layout row>
  <v-flex xs12 sm6 offset-sm3>
    <h2>Log In</h2>
    <v-layout row v-for="(error, index) in errors" :key="index">
      <v-flex xs12>
        <vue-alert @alertdismissed="onDismissed(index)" :error="error"></vue-alert>
      </v-flex>
    </v-layout>
    <vue-signin :errors.sync="errors" :success.sync="success"></vue-signin>
    <%= render "devise/shared/links" %>
  </v-flex>
</v-layout>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <!--<div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>-->
<% end %>


